/*--------------------------------- Global ----------------------------------*/

:root {
    /* sets height for navbar, <span> (icons) and <a> */
    --navbar-height: 60px;
    /*------------ Colors ------------*/
    /* Black & White */
    --white-1: #F3F3F3;
    --black-1: #222;
    /* Grey */
    --grey-1: #696B76;
    --grey-2: #4B4C55;
    --light-grey-1: #AAA;
    /* Primary colors */
    --orange-1: #FF8E04;
    --sand-1: #ACAA97;
    /* Secondary colors */
    --blue-1: #2068AE;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--white-1);
}

section {
    padding-top: 59px;
    margin-top: -59px;
}

h1, h2, h3, p, #contacts a {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: var(--black-1);
}

/*--------------------------------- NavBar ----------------------------------*/

#navbar {
    position: fixed;
    top: 0px;
    left: 0%;
    z-index: 100;
    background-color: var(--white-1);
    border-bottom: 1px solid var(--black-1);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: var(--navbar-height);
}

#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 36px;
    width: 100%;
    
}

#navbar ul li {
    display: inline-block;
    position: relative;
    margin-left: 0px;
    /* !!! was 10px */
    width: 90px;
    height: var(--navbar-height);
}

/* common properties of rotating elements */

#navbar span.nav-front, #navbar a.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--navbar-height);
    transition: all 0.4s;
}

#navbar span.nav-front {
    font-size: 1.6em;
    color: var(--black-1);
    transform-origin: left;
    cursor: pointer;
}

#navbar a.nav-right {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    color: var(--black-1);
    text-decoration: underline;
    transform: rotateY(-90deg);
    transform-origin: 0 0 90px;
}

#navbar li:hover span {
    transform: rotateY(-90deg);
}

#navbar li:hover a {
    transform: rotateX(0deg);
    opacity: 1;
}

/*---------------------------- Welcome Section ------------------------------*/

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-color: var(--grey-2);
}

#welcome-section div:nth-of-type(1) {
    flex-basis: 34%; /*set div height*/
    background-color: #FFBA65;
    background: linear-gradient(70deg, #FFAE4B, #FFCB8B);
    border-bottom: 1px solid var(--black-1);
    transform-origin: 100%;
    animation-name: expand;
    animation-duration: 1.25s;
}

#welcome-section div:nth-of-type(2) {
    flex-basis: 46%; /*set div height*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grey-1);
    border-top: 1px solid var(--black-1);
    border-bottom: 2px solid var(--white-1);
    transform: scaleX(0);
    transform-origin: 0;
    animation-name: expand;
    animation-delay: 1s;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
}

@keyframes expand {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

#welcome-section div:nth-of-type(3) {
    flex-basis: 20%; /*set div height*/
    background: linear-gradient(to bottom, var(--grey-2), var(--sand-1));
}

#welcome-section h1 {
    font-size: clamp(3.5rem, 15vw, 7rem);
    position: relative;
    top: -5%;
}

#welcome-section h1 span {
    color: var(--orange-1);
}

#welcome-section h2 {
    width: 95%;
    align-self: center;
    font-size: clamp(2rem, 7vw, 3rem);
}

#welcome-section h2 span {
    color: var(--white-1);
}

/*---------------------------- Project Section ------------------------------*/

#projects {
    position: relative;
    top: calc(var(--navbar-height) - 1px);
    padding: 5% 0;
    background: linear-gradient(0deg, var(--grey-1), var(--sand-1));
}

#projects h2 {
    padding: 0 2rem 0 2rem;
    /* wrap text before it reachs edges */
    margin-top: 2rem;
    font-size: clamp(2rem, 8vw, 3.4rem);
    color: var(--black-1);
}

.projects-container {
    /* projects main container (flex) */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 5% 0;
}

.projects-container:last-child {
    /* give the last project-container a bit more space when the first media query kicks in */
    margin-bottom: 1rem;
}

.project-tile {
    /* img container */
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
    width: 48.5%;
    padding: 2px;
    margin: 2.5% 0.5%;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-align: center;
    border-radius: 3px;
    background-color: var(--grey-1);
    box-shadow: 5px 5px 5px var(--grey-2);
    transition: z-index 0.75s, scale 0.5s, box-shadow 0.7s, left 0.5s, right 0.5s;
    -webkit-transition: all 0.5s; 
}

.project-tile img {
    max-width: 100%;
    height: auto;
    margin-bottom: -2px;
    border: 1px solid var(--light-grey-1);
    border-radius: 3px;
    opacity: 0.65;
    transition: opacity 0.25s;
}

.project-tile figcaption {
    font-family: "Lato", sans-serif;
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: var(--white-1);
    padding: 1%;
    border: 1px solid var(--light-grey-2);
    border-radius: 3px;
    transition: color .5s, background-color 1s;
}

.project-tile:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    box-shadow: 0 0 0;
    z-index: 10;
}

.project-tile:nth-of-type(2n+1):hover {
    /* move left imgs toward center on hover */
    left: 10%;
}

.project-tile:nth-of-type(2n):hover {
    /* move right imgs toward center on hover */
    left: -10%;
}

.project-tile:hover img {
    opacity: 1;
}

.project-tile:hover figcaption {
    color: var(--black-1);
}

.project-tile:nth-of-type(1):hover figcaption {
    background-color: #F1F1F3;
}

.project-tile:nth-of-type(2):hover figcaption {
    background-color: #D5D0DE;
}

.project-tile:nth-of-type(3):hover figcaption {
    background-color: #83c1e7;
}

.project-tile:nth-of-type(4):hover figcaption {
    background-color: #81e999;
}

/*---------------------------- Project Section ------------------------------*/

#contacts {
    position: relative;
    top: 4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--black-1);
    background-color: rgba(176, 176, 176, 1);
}

#contacts:before {
    /* bkg image */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    opacity: 0.2;
}

#contacts h2 {
    position: relative;
    /* needed to set a different opacity for #contacts:before */
    width: 95%;
    font-size: clamp(2.5rem, 10vw, 5rem);
    color: var(--black-1);
}

#contacts .contacts-container {
    /* div containing all .contact-box */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    /* create new stacking context */
    width: 100%;
    height: 140px;
}

#contacts .contact-box {
    /* single (icon/img) link container */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 90px;
    height: auto;
    margin: 10% 5%;
}

#contacts a {
    position: relative;
    text-decoration: none;
    color: var(--black-1);
}

#contacts .contact-box p {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: clamp(1.2rem, 2.4vw, 2.2rem);
    padding-top: 10px;
}

#contacts .contact-box:hover p, #contacts a:hover {
    color: var(--blue-1);
}

#contacts img {
    /* GitHub & Linkedin logos */
    display: block;
    max-width: 60px;
    height: auto;
}

#contacts a:nth-child(1) img {
    /* align FFC logo */
    max-width: 76px;
    padding-top: 4px;
    margin-bottom: 4px;
}

#contacts .contact-box:hover img, #contacts .contact-box:hover span {
    animation-name: bounce;
    animation-duration: 0.35s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-19%);
    }
}

#contacts .mail-info p {
    position: relative;
    font-size: clamp(0.9rem, 3.5vw, 1.1rem);
}

#contacts .mail-info a {
    top: 1.5rem;
    text-decoration: underline;
    font-size: clamp(0.95rem, 4vw, 1.2rem);
}

footer {
    position: relative;
    top: 4rem;
    border-top: 1px solid var(--white-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35px;
    background-color: var(--grey-2);
}

footer p {
    font-family: 'Lato', sans-serif;
    font-size: clamp(0.7rem, 4vw, 0.9rem);
    color: var(--white-1);
    text-align: right;
    margin-right: 1rem;
}

/*---------------------------------------------------------------------------------*/
/*--------------------------------- Media Queries ---------------------------------*/
/*---------------------------------------------------------------------------------*/

/*=============== Tablets, small screens 880px ===============*/

@media screen and (max-width: 55em) {
    .projects-container {
        /* main projects (flex) container 
    align projects in a single column */
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
    }
    .project-tile {
        /* img container */
        width: 88%;
        margin: 3% 0.5%;
    }
    .project-tile:hover {
        scale: 1.1;
    }
    .project-tile:nth-of-type(2n+1):hover, .project-tile:nth-of-type(2n):hover {
        left: 0;
    }
}

/*=============== Smaller screens (720px) ================*/

@media screen and (max-width: 45em) {
    /*------ Navbar ------*/
    #navbar {
        justify-content: center;
    }
    #navbar ul {
        padding-right: 0;
        justify-content: space-around;
    }
    #navbar ul li {
        width: 140px;
    }
    /*------ Projects Section ------*/
    .project-tile {
        width: 94%;
        margin: 2% 0.5%;
    }
    .project-tile img {
        opacity: 1;
    }
    .project-tile figcaption {
        color: var(--black-1);
    }
    .project-tile:hover {
        scale: 1;
        box-shadow: 5px 5px 5px var(--grey-2);
    }
    .project-tile:nth-of-type(1) figcaption {
        background-color: #F1F1F3;
    }
    .project-tile:nth-of-type(2) figcaption {
        background-color: #D5D0DE;
    }
    .project-tile:nth-of-type(3) figcaption {
        background-color: #83c1e7;
    }
    .project-tile:nth-of-type(4) figcaption {
        background-color: #81e999;
    }

    /*------ Contacts Section ------*/ /*
    #contacts .contacts-container {
        flex-wrap: wrap;
    } */
}


/*============ Mobiles 576px or touchscreen ============*/

@media (any-hover: none), screen and (max-width:36em) {

    /*------ Navbar ------*/
    #navbar ul li {
        width: auto;
        margin: 0 5px 0 5px;
    }
    #navbar a.nav-right {
        font-size: 1.1em;
        transform: rotateY(0deg);
    }
    #navbar li span {
        transform: rotateY(-90deg);
    }

    /*------- Welcome section ------*/
    #welcome-section div:nth-of-type(1) {
        flex-basis: 32%;
    }
    #welcome-section div:nth-of-type(2) {
        flex-basis: 60%;
    }
    #welcome-section div:nth-of-type(3) {
        flex-basis: 18%;
    }

    /*------ Projects -------*/
    #projects {
        padding: 15% 0;
    }
    #projects h2 {
        margin-top: 3rem;
    }
}